# Copy this file to .env and fill in the values before running tests
BASE_URL=https://test.sunbirded.org

CONTENT_CREATOR_EMAIL=
CONTENT_CREATOR_PASSWORD=

REGISTERED_USER_EMAIL= "user1@yopmail.com"
REGISTERED_USER_PASSWORD= "User1@123"

TEST_USER_PASSWORD=
