# Copy this file to .env and fill in the values before running tests
BASE_URL=https://test.sunbirded.org
USER2_EMAIL= "user2@yopmail.com"
USER2_PASSWORD="User2@123"
REGISTERED_USER_EMAIL= "user1@yopmail.com"
REGISTERED_USER_PASSWORD= "User1@123"

